@page "/workers/create"

<h3>Crear Trabajador</h3>

<WorkerForm @ref="workerForm" Worker="worker" AvailableModalities="AvailableModalities" AvailableWorkShedules="AvailableWorkShedules" OnValidSubmit="CreateAsync" ReturnAction="Return" />
